@font-face {
    font-family: 'Vazir';
    src: url(../fonts/Vazir.eot) format("eot"), url(../fonts/Vazir.woff) format("wofff"), url(../fonts/Vazir.ttf) format("truetype");
}

body{
    margin: 0;
    text-align: right;
    direction: rtl;
    padding-top: 75px; 
    font-family: Vazir;
}

.section{
    padding: 10px 0;
}

.dropdown-menu{
    text-align: right;
}

#intro{
    height: calc(100vh - 75px);
}

.img_slider{
    width: 100%;
    height: calc(100vh - 75px);
}
.section-1
{
    background-color: #97ccc1;
}
.khadamat-2
{
color:#fff;
display: inline-block;
margin-right: 10px;
font-size: 1.4rem;
}
.khadamat
{
    background-color: #17a2b8;
}
.khadamat-3
{
   border: 1px solid #148a9c;
   border-radius: 15px;
   margin-bottom: 30px;
   box-shadow: 2px 2px 2px 2px #15889aeb;
   height: 165px;
}
.khadamat-3 img {
    max-width: 120px;
}
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
@media (max-width:720px){
    #intro{
        height: auto;
    }
    .slick-slide img{
        height: auto;
    }
    .section img{
        width: 100%;
    }
    .khadamat-3{
        text-align: center;
        height: 285px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .khadamat-3 img{
        margin: 0 auto;
    }
    .khadamat-2{
        display: block;
        margin-top: 10px;
    }

}